<div class="filters">
  <form class="box product-form js-load-form" style="width: 300px">
    <input type="file" />
    <button>Load File</button>
  </form>

  <form class="box product-form js-save-form" style="width: 300px">
    <input type="file" />
    <button>Save To File</button>
  </form>

  <form class="box product-form js-macros-form" style="width: 300px">
    <textarea></textarea>
    <button>Save To Macros</button>
  </form>

  <form class="box filter-form js-filter-form flex">
    <div>
      <input type="checkbox" />
      <input type="number" placeholder="Min Order Count" />
    </div>
    <div>
      <input type="checkbox" />
      <input type="number" placeholder="" />
    </div>

    <div>
      <input type="checkbox" />
      <input type="number" placeholder="" />
    </div>
  </form>

  <div class="box filter-form js-filter-form flex col">
    <button class="js-sort-niche">Sort By Niche</button>
    <button class="js-sort-point">Sort By Point</button>
  </div>
</div>
