<section class="product-section">
  <table id="TableToExport" class="table">
    <thead>
      <tr>
        <th>№</th>
        <th>Назва продукту</th>
        <th>Джерело, де знайшли продукт</th>
        <th>Посилання на джерело</th>
        <th>Посилання на сторінку продукта в магазині</th>
        <th>ALIEXPRESS</th>

        <th class="table-border"></th>

        <th>Записати кількість замовлень</th>
        <th>Від 50 або/та Breakout</th>
        <th>Від 4х зірок на основі 30+ відгуків</th>
        <th>Наявність як мінімум 5 відео</th>

        <th class="table-border"></th>

        <th>Постачальник</th>
        <th>Вартість продукту</th>
        <th>Вартість продукту (x3)</th>
        <th>Вартість продукту у конкурентів</th>
        <th>Коментарі по продукту</th>
        <th>Маржинальність продукту</th>
        <th>Ніша(Тематика) продукту</th>
        <th>Бали продукту</th>
        <th class="table-border"></th>
        <th colspan="2">КНОПКИ</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <div>
    <form class="box product-form js-load-form" style="width: 300px">
      <input type="file" />
      <button>Load File</button>
    </form>

    <form class="box product-form js-save-form" style="width: 300px">
      <input type="file" />
      <button>Save To File</button>
    </form>
  </div>
</section>
