<section class="product-section">
  <load ="./filters.html" />

  <table id="TableToExport" class="table">
    <thead>
      <tr>
        <th>№</th>
        <th>Назва продукту</th>
        <th>Джерело</th>
        <th>Магазин</th>
        <th>Aliexpress</th>

        <th class="table-border"></th>

        <th>Orders</th>
        <th>Google</th>
        <th>Amazon</th>
        <th>Media</th>

        <th class="table-border"></th>

        <th>Постачальник</th>
        <th>Вартість продукту</th>
        <th>Вартість продукту (x3)</th>
        <th>Вартість продукту у конкурентів</th>
        <th>Маржинальність продукту</th>
        <th>Ніша(Тематика) продукту</th>
        <th>Коментарі по продукту</th>
        <th>Бали продукту</th>
        <th class="table-border"></th>
        <th colspan="2">КНОПКИ</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</section>
