<div>
  <div>
    <hr />
    <h2>ADDITIONAL INFO</h2>
    <hr />
  </div>

  <div class="flex">
    <input
      type="text"
      class="form-control"
      name="supplier_link_1"
      placeholder="Supplier link 1"
    />
    <input
      type="text"
      class="form-control"
      name="supplier_link_2"
      placeholder="Supplier link 1"
    />
    <input
      type="text"
      class="form-control"
      name="supplier_link_3"
      placeholder="Supplier link 1"
    />
  </div>

  <div class="mb-3">
    <div class="form-text">Supplier price + delivery</div>
    <input type="number" class="form-control" name="supplier_price" />
  </div>

  <div class="mb-3">
    <div class="form-text">Sale price (x3)</div>
    <input type="number" class="form-control" name="sale_price" />
  </div>

  <div class="mb-3">
    <div class="form-text">Вартість продукту у конкурентів</div>
    <input type="number" class="form-control" name="competitor_price" />
  </div>

  <div class="mb-3">
    <div class="form-text">Margin</div>
    <input type="number" class="form-control" name="margin" />
  </div>

  <div class="mb-3">
    <div class="form-text">Niche</div>
    <input type="text" class="form-control" name="niche" />
  </div>

  <div class="mb-3">
    <div class="form-text">Points</div>
    <input type="number" class="form-control" name="points" />
  </div>

  <div class="mb-3">
    <div class="form-text">Comments</div>
    <input type="text" class="form-control" name="comments" />
  </div>
</div>
