<div>
  <div>
    <hr />
    <h2>ANALYTICS</h2>
    <hr />
  </div>

  <div class="mb-3">
    <div class="form-text">Кількість замовлень у основного постачальника.</div>
    <input type="number" class="form-control" name="orders" />
  </div>

  <div class="mb-3">
    <div class="form-text">Від 50 або/та Breakout</div>
    <input type="number" class="form-control" name="popularity" />
  </div>

  <div class="mb-3">
    <div class="form-text">Amazon reviews</div>
    <input type="number" class="form-control" name="reviews" />
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="youtube_media" />
    <label class="form-check-label"> Youtube Media </label>
  </div>
</div>
