<div>
  <div>
    <hr />
    <h2>SEARCH</h2>
    <hr />
  </div>
  <div class="mb-3">
    <div class="form-text">Назва продукту</div>
    <input type="text" class="form-control" name="product_name" />
  </div>

  <div class="mb-3">
    <div class="form-text">Джерело, де знайшли продукт</div>
    <select
      class="form-select"
      name="source"
      aria-label="Default select example"
    >
      <option value="None" selected>None</option>
      <option value="Facebook feed">Facebook feed</option>
      <option value="AdSpy">AdSpy</option>
      <option value="Ecom Hunt">Ecom Hunt</option>
      <option value="Fb Library">Fb Library</option>
      <option value="ShopHunter">ShopHunter</option>
      <option value="Pipi Ads">Pipi Ads</option>
    </select>
  </div>

  <div class="mb-3">
    <div class="form-text">Посилання на джерело</div>
    <input type="text" class="form-control" name="source_link" />
  </div>

  <div class="mb-3">
    <div class="form-text">
      Посилання на сторінку продукта в магазині, який знайшли одним зі способів
      пошуку.
    </div>

    <div class="flex">
      <input
        type="text"
        class="form-control"
        name="link_1"
        placeholder="store 2"
      />
      <input
        type="text"
        class="form-control"
        name="link_2"
        placeholder="store 2"
      />
      <input
        type="text"
        class="form-control"
        name="link_3"
        placeholder="store 3"
      />
    </div>
  </div>

  <div class="mb-3">
    <div class="form-text">ALIEXPRESS</div>
    <input type="text" class="form-control" name="aliexpress" />
  </div>
</div>
